form(action="/login", method="POST")
    lable login
    input(name="login", id="login")
    input(type="password" name="password", id="password", value = "admin123")
    input(type="submit", value="login")


    //- script(src="js/login.js")